.side__list
  .mypage__all-list
    %ul#nav
      = link_to "#", class: 'list__item',id: "list_active" do
        %li.mypage__list.list__mypage-active
          マイページ
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          お知らせ
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          やることリスト
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          いいね！一覧
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          出品する
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          出品した商品 - 出品中
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          出品した商品 - 取引中
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          出品した商品 - 売却済み
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          購入した商品 - 取引中
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          購入した商品 - 過去の取引
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          ニュース一覧
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          評価一覧
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          ガイド
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          お問い合わせ
          = icon 'fas', 'chevron-right'

  .merpay
    %h3.side__h3 
      メルペイ
    %ul.merpay-setting.nav#list_active
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          売上・振込申請
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          ポイント
          = icon 'fas', 'chevron-right'
  .setting
    %h3.side__h3 
      設定
    %ul.merpay-setting.nav#list_active
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          プロフィール
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          発送元・お届け先住所変更
          = icon 'fas', 'chevron-right'
      = link_to new_card_path, class: 'list__item' do
        %li.mypage__list
          支払い方法
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          メール/パスワード
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          本人情報
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          電話番号の確認
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage__list
          ログアウト
          = icon 'fas', 'chevron-right'    
        