
%script{:src => "https://www.google.com/recaptcha/api.js"}
%script{:src => "https://code.jquery.com/jquery-2.1.4.min.js", :type => "text/javascript"}
.signup
  = render 'signups/signup_header'
  .signup-main
  = form_for(resource, as: resource_name, url: root_path,method: :get) do |f|
    .login-contents
      .login-contents__title
        .login-btn
        %p アカウントをお持ちでない方はこちら
        =link_to new_user_path, class: "login-btn__email" do
          新規会員登録
      .login-contents__form
        .login-btn
          =link_to root_path, class: "login-btn__facebook" do
            %i.fab.fa-facebook-square.fa-2x
            Facebookでログイン
          =link_to root_path, class: "login-btn__google" do
            %i.fab.fa-google.fa-lg
            Googleでログイン
        .login-btn
        = form_with model: @user, url: new_user_session_path,  local: true do |f|
          = f.text_field :email, placeholder: 'メールアドレス', class:'form-input'
          = f.text_field :password, placeholder: 'パスワード', class:'form-input'   
          .g-recaptcha{"data-callback" => "clearcall", "data-sitekey" => "6Lcer9UUAAAAAODTBE72Vg1asRfEfDuAfV14Uzqx"}
        .login-btn
          = f.submit "ログイン",class:"login-btn_start"
          %a.login-a{:href => "/"}パスワードをお忘れの方
  = render 'signups/signup_footer'
