%header
  .header
    .header-top
      .logo-search-contents
        .logo-search-contents__left
          = link_to root_path do
            = image_tag('fmarket_logo_red.svg', class: "logo")
        %form{ action: '/', method: 'post' }
          %input{ value: "", name: 'search',class: 'search-form',placeholder:'何かお探しですか？' } 
          %button{ type: 'submit',class: 'search-btn' }
            -#パスの指定（item）
            = link_to root_path do
              = image_tag('main/search1_89287.svg', class:'search-icon')
      .header-bottom
        .header-bottom__lists
          %ul.search-navs
            %li.search-navs__category              
              %h2.search-navs__category__icon  
                -#パスの指定（item）  
                = link_to root_path do    
                  = icon('fas','list-ul',class: 'nav-icon')
                  %span カテゴリーから探す
                  -#Ancestryのview挿入
            %li.search-navs__brand
              %h2.search-navs__brand__icon
                = link_to root_path do
                  = icon('fas','tags', class: 'nav-icon')
                  -# パスの指定（item）
                  %span ブランドから探す
        .header-bottom__right
          %ul.signed-btn
            - if user_signed_in?
              %li.like-btn
                = link_to "#", class: 'like' do
                  %i.far.fa-heart
                  %span いいね！一覧
              %li.notice-btn
                = link_to "#", class: 'notice' do
                  %i.far.fa-bell
                  %span お知らせ
              %li.todo_list-btn
                = link_to "#", class: 'todo_list' do
                  %i.fas.fa-check
                  %span やることリスト
              %li.mypage-btn
                = link_to user_path(:id), class: 'mypage' do
                  = image_tag 'haru.jpg', class: 'user-img', size: '30x30'
                  %span マイページ
            -else
              %li.signup-btn
                -# パスの指定（registration_users_path）
                =link_to '新規会員登録', new_user_registration_path, class:'signin-text'
              %li.login-btn
                -#パスの指定（new_user_pathsession_path）
                =link_to 'ログイン', new_user_session_path , class:'signin-btn__text'
         
