.top-banner
  .top-banner__img
    =link_to '' do
      =image_tag('main/top-banner-main.png',class:'main-banner') 
    .top-banner__img__box
      .text
        スマホで かんたん 
        %br
        フリマアプリ
      .message
        メルカリはスマホカメラからすぐに出品できる
        %br
        購入時も安心な独自のシステムのアプリです
      %ul.list
        %li.list__bage
          =link_to''do
            =image_tag('main/app-store.svg',class:'logo') 
        %li.list__bage
          =link_to''do
            =image_tag('main/google-play.svg', class: 'logo') 
.main
  .category
    人気のカテゴリー
    %ul.category__list
      %li#lady.category__list__tag
        レディース 
      %li#men.category__list__tag
        メンズ
      %li#home_appliance.category__list__tag
        家電・スマホ・カメラ
      %li#toy.category__list__tag
        おもちゃ・ホビー・グッズ
  .new-arrivals
    .new-arrivals__box
      %h2#ladys
        レディース新着アイテム
        .see-more
          =link_to'もっと見る 〉','#',class:'item-link'   
      .items
        .items__contents
          - @ladies_items.each do |item|
            .items__contents__box
              = link_to item_path(item), class:'item'do
                .item-img
                  = image_tag "#{item.images[0].url.url}"  
                  %span
                    = "¥" + "#{item.price}"
                .item-name
                  = item.name
        
    .main__category-bottom__box
      %h2#mens
        メンズ新着アイテム
        .see-more
          =link_to'もっと見る 〉','#',class:'item-link'   
      .items
        .items__contents
          - @mens_items.each do |item|
            .items__contents__box
              = link_to item_path(item), class:'item'do
                .item-img
                  = image_tag "#{item.images[0].url.url}"  
                  %span
                    = "¥" + "#{item.price}"
                .item-name
                  = item.name
        
    .main__category-bottom__box
      %h2#home_appliances
        家電・スマホ・カメラ新着アイテム
        .see-more
          =link_to'もっと見る 〉','#',class:'item-link'   
      .items
        .items__contents
          - @home_appliances_items.each do |item|
            .items__contents__box
              = link_to item_path(item), class:'item'do
                .item-img
                  = image_tag "#{item.images[0].url.url}"  
                  %span
                    = "¥" + "#{item.price}"
                .item-name
                  = item.name
        
    .main__category-bottom__box
      %h2#toys
        おもちゃ・ホビー・グッズ新着アイテム
        .see-more
          =link_to'もっと見る 〉','#',class:'item-link'   
      .items
        .items__contents
          - @toys_items.each do |item|
            .items__contents__box
              = link_to item_path(item), class:'item'do
                .item-img
                  = image_tag "#{item.images[0].url.url}"  
                  %span
                    = "¥" + "#{item.price}"
                .item-name
                  = item.name
        
  .category
    人気のブランド
    %ul.category__list
      %li#chanel.category__list__tag
        シャネル
      %li#vuitton.category__list__tag
        ルイヴィトン
      %li#supreme.category__list__tag
        シュプリーム
      %li#nike.category__list__tag
        ナイキ
  .new-arrivals
    .new-arrivals__box
      %h2#chanels
        シャネル新着アイテム
        .see-more
          =link_to'もっと見る 〉','#',class:'item-link'   
      .items
        .items__contents
          - @chanel_items.each do |item|
            .items__contents__box
              = link_to item_path(item), class:'item'do
                .item-img
                  = image_tag "#{item.images[0].url.url}"
                  %span
                    = "¥" + "#{item.price}"
                .item-name
                  = item.name
        
    .main__category-bottom__box
      %h2#vuittons
        ルイヴィトン新着アイテム
        .see-more
          =link_to'もっと見る 〉','#',class:'item-link'   
      .items
        .items__contents
          - @vuitton_items.each do |item|
            .items__contents__box
              = link_to item_path(item), class:'item'do
                .item-img
                  = image_tag "#{item.images[0].url.url}"
                  %span
                    = "¥" + "#{item.price}"
                .item-name
                  = item.name
        
    .main__category-bottom__box
      %h2#supremes
        シュプリーム新着アイテム
        .see-more
          =link_to'もっと見る 〉','#',class:'item-link'   
      .items
        .items__contents
          - @supreme_items.each do |item|
            .items__contents__box
              = link_to item_path(item), class:'item'do
                .item-img
                  = image_tag "#{item.images[0].url.url}"
                  %span
                    = "¥" + "#{item.price}"
                .item-name
                  = item.name
        
    .main__category-bottom__box
      %h2#nikes
        ナイキ新着アイテム
        .see-more
          =link_to'もっと見る 〉','#',class:'item-link'   
      .items
        .items__contents
          - @nike_items.each do |item|
            .items__contents__box
              = link_to item_path(item), class:'item'do
                .item-img
                  = image_tag "#{item.images[0].url.url}"
                  %span
                    = "¥" + "#{item.price}"
                .item-name
                  = item.name 