.signup
  = render 'signups/signup_header'
.content-main
  %section.buy-container
    %h2 購入内容の確認
    %section.item-details
      .item-details__inner
        .item-box
          .item-box__image
            = image_tag "#{@item.images[0].url.url}" ,size: "187x187"
          .item-box__label
            .name
              = @item.name
            .price
              %span 
              ¥
              = @item.price 
              %span.fee (税込) 送料込み
    %section.item-content
      .item-content__inner
        .buy-price
          .buy-price__label
            .title 支払い金額
            .price 
              %span 
                ¥
                = @item.price 
        %p.buy-point
          %input{disabled: "", type: "checkbox"}/
          %label ポイントを消費（所持ポイント: P0）
        %section.payment-info
          .payment-info__inner
            .payment
              %h3 支払い方法
            - if @default_card_information.blank?
              %p 
              %i.fas.fa-plus-circle
              = link_to '登録して下さい', new_card_path, class: 'change'
            - else  
              %br 
              = "**** **** **** " + @default_card_information.last4
              %br
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
              = form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
                %input{ type: "hidden", name: "card_id", value: "" }
                %button.btn_delate  変更する
                .credit-card-logo
                  = image_tag('visa.png', alt: "visa")            
        %section.delivery-info
          .delivery-info__inner
            .delivery
              %h3 配送先
              = link_to '変更する', root_path, class: 'change'
            .address
              %p 〒123-4567
              %p 東京都*********
              %p 山田 山田
        .buy-btn
          = form_tag(action: :pay, method: :post) do
            %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript" ,"data-text": "購入する" ,"data-key": ENV['PAYJP_KEY']}
= render 'signups/signup_footer'