.signup
  = render 'signups/signup_header'
  .section
    %section.section-buy
      %i.far.fa-clock.shipping 発送をお待ちください
      .content-shipping
        出品者からの発送通知をお待ちください
  .content-main
  %section.buy-container
    %h2 購入完了しました
    .section.item-details
      .item-box
        = @item.name
        .item-box__image
          = image_tag "#{@item.images[0].url.url}" ,size: "187x187"
      .buy-container    
        .done__modal__content__info__inner__price
          %h3 支払い金額
          .done__modal__content__info__inner__price--num
            .price
              %span 
              ¥
              = @item.price 
              %span.fee (税込) 
        %button.next-button4
          =link_to "トップに戻る",root_path,class: "top"