.product-detail
  = render "items/toppage/header"
  %section.container
    %h1.item-name
      = @item.name
    .item-content
      .item-photo
        .owl-lazy
          = image_tag "#{@images[0].url}",size:'225x300',class:'main-image'
        .owl-item
          - @images.each do |image|
            = image_tag "#{image.url}",size:'60x60',class:'sub-image'
      %table.item-table
        %tr.item-table__box
          %th.item-table__box__seller 出品者
          %td.item-table__box__user
            = link_to 'poou','#' ,class:'user-nickname'
            .item-user-ratings
              = link_to root_path do
                = icon('fas','laugh',class: 'good-icon')
                %span 201
              = link_to root_path do
                = icon('fas','meh',class: 'noramal-icon')
                %span 2
              = link_to root_path do
                = icon('fas','frown',class: 'bad-icon')
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to'レディース','#',class: 'ladys'
            %br
            %i.fas.fa-chevron-right
            = link_to'バック','#',class: 'bag'
            %br
            %i.fas.fa-chevron-right
            = link_to'ショルダーバック','#',class: 'shoulder-bag'
        %tr
          %th ブランド
          %td
            = link_to'トゥディフル','#',class: 'brand-link'
        %tr
          %th 商品のサイズ
          %td なし
        %tr
          %th 商品の状態
          %td 目立った傷や汚れなし
        %tr
          %th 配送料の負担
          %td 送料込み（出品者の負担）
        %tr
          %th 配送の方法
          %td 普通郵便(定形、定形外)
        %tr
          %th 発送元地域
          %td 奈良県
        %tr
          %th 発送日の目安
          %td 4~7日で発送
    .item-price-box
      %span.price ¥1,900 
      %span.tax (税込)
      %span.shipping-free 送料込み
    .item-buy-btn
      =link_to '購入画面に進む', item_confirmation_path(:item_id),class: 'buy-btn'
    .item-description
      %p.item-description__inner
        こちらはLAKOLEのレザー調巾着バッグになります★
        %br
        わりと荷物は入ります♪
        %br
        5回程使用していますが、目立って傷や汚れはありません。
        %br
        %br
        %br
        縦20cm
        %br
        幅15cm
        %br
        %br
        ※他サイトにも出品しておりますので、ご購入の際はにはコメントお願いします★
    .item-button-contener.clearfix
      .item-button-contener__left
        .item-like
          %button{type: 'button', name: 'like',class:'like-btn'}
            = link_to root_path do
              = icon('far','heart',class: 'heart-icon')
              %span.fade-in-down いいね！
              %span.fade-in-down 26
        .item-report
          = link_to root_path do
            = icon('far','flag',class: 'flag-icon')
            %span.fade-in-down 不敵切な商品の報告
        .item-button-contener__right
          = link_to root_path do
            = icon('fas','lock',class: 'lock-icon')
            %span
              = link_to'あんしん・あんぜんへの取り組み','',class: 'link-btn'
  .message-container
    .message-content
      %ul.message-items
        %li.clearfix
          .message-user
            .user-unknown
              = image_tag('user-icon.svg',class: 'icon',size:'32x32')
            .message-user-name ゆっぴ
          .message-body
            .text
              %p コメント失礼します！
              %p 値下げは可能でしょうか？  
            .message-body__icons.clearfix
              .icon-left
                = link_to root_path do
                  = icon('far','clock',class: 'time-icon')
                  %span １時間
              .icon-right
                = link_to root_path do
                  = icon('far','flag',class: 'flag-icon')
    .message-content 
      %ul.message-items
        %li.clearfix
          .message-user
            .user-unknown
              = image_tag('user-icon2.png',class: 'icon2',size:'40x40')
            .message-is-seller 出品者
            .message-user-name poou
          .message-body
            .text
              %p コメントありがとうございます！
              %p 値下げは出来ません。
            .message-body__icons.clearfix
              .icon-left
                = link_to root_path do
                  = icon('far','clock',class: 'time-icon')
                  %span １時間
              .icon-right
                = link_to root_path do
                  =icon('far','flag',class: 'flag-icon')
    .message-content    
      %form   
        %p 相手のことを考え丁寧なコメントを心がけましよう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.textarea-default
        %button{ type: 'submit',class: 'search-btn' }コメントする
    %ul.nav-item-link.clearfix
      %li.prev
        %i.fas.fa-chevron-left
        = link_to'TP−Link WiFi 無線LANカード','',class: 'link-btn'
      %li.next
        = link_to'アメリカの人気のお菓子！','',class: 'link-btn'
        %i.fas.fa-chevron-right
    .item-social-media-box
      .text-center
        %ul.social-media
          %li
            = link_to root_path do
              = icon('fab','facebook-square',class: 'facebook-icon')
          %li
            = link_to root_path do
              = icon('fab','twitter-square',class: 'twitter-icon')
          %li
            = link_to root_path do
              = icon('fab','pinterest-square',class: 'pinterest-icon')
  .items-in-user-profile 
    .items-box-heard
      = link_to 'poouさんのその他の出品',root_path,class:'link-buyer'
    .items-contents.clearfix
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
            = image_tag 'product/item-1.jpg', size: '230x230'
          .item-box-body
            %h2.item-name STUDIOUS タートルスクエアヤーンニット
            .item-box-body__num
              .price ¥5,590
              .like
                = link_to root_path do
                  =icon('far','heart',class: 'heart-icon')
                  %span 8
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
            = image_tag 'product/sandal.jpg', size: '220x230'
            .item-img__top
            .tag SOLD
          .item-box-body
            %h2.item-name ZARAメッシュストラップサンダル
            .item-box-body__num
              .price ¥3,500
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 6
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
          .item-box-body
            %h2.item-name 
            .item-box-body__num
              .price ¥0
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 0
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
          .item-box-body
            %h2.item-name 
            .item-box-body__num
              .price ¥0
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 0
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
          .item-box-body
            %h2.item-name 
            .item-box-body__num
              .price ¥0
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 0
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
          .item-box-body
            %h2.item-name 
            .item-box-body__num
              .price ¥0
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 0 
  .items-in-user-profile 
    .items-box-heard
      = link_to 'トゥデイフルのショルダーバッグ その他の商品',root_path,class:'link-brand'
    .items-contents.clearfix
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
            = image_tag 'product/eco-item.jpg', size: '220x220'
          .item-box-body
            %h2.item-name エコレザースクエアポシェット ロープショルダーバッグ
            .item-box-body__num
              .price ¥4,100
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 49
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
          .item-box-body
            %h2.item-name 
            .item-box-body__num
              .price ¥0
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 0
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
          .item-box-body
            %h2.item-name 
            .item-box-body__num
              .price ¥0
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 0
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
          .item-box-body
            %h2.item-name 
            .item-box-body__num
              .price ¥0
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 0
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
          .item-box-body
            %h2.item-name 
            .item-box-body__num
              .price ¥0
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 0
      .items-contents__box
        = link_to root_path('#'),class:'item'do
          .item-img
          .item-box-body
            %h2.item-name 
            .item-box-body__num
              .price ¥0
              .like
                = link_to root_path do
                  = icon('far','heart',class: 'heart-icon')
                  %span 0
  .item-contents-bottom
//- breadcrumb :item
//= render "layouts/breadcrumbs"
= render "items/toppage/bottom-banner-ad"
= render "items/toppage/footer"