.product-detail
  = render "items/toppage/header"
  %section.container
    %h1.item-name
      = @item.name
    .item-content
      - if (@item.buyer_id.blank?)
        .item-photo
          .owl-lazy
            = image_tag "#{@images[0].url}",size:'225x300',class:'main-image'
          .owl-item
            - @images.each do |image|
              = image_tag "#{image.url}",size:'60x60',class:'sub-image'
      - else
        .item-photo
          .item-photo__top
          .sold-out-tag SOLD
          .owl-lazy
            = image_tag "#{@images[0].url}",size:'225x300',class:'main-image' 
          .owl-item
            - @images.each do |image|
              = image_tag "#{image.url}",size:'60x60',class:'sub-image'
      %table.item-table
        %tr.item-table__box
          %th.item-table__box__seller 出品者
          %td.item-table__box__user
            = link_to "#{@item.seller.nickname}",user_path(@seller),class:'user-nickname'
            .item-user-ratings
              = link_to root_path do
                = icon('fas','laugh',class: 'good-icon')
                %span 201
              = link_to root_path do
                = icon('fas','meh',class: 'noramal-icon')
                %span 2
              = link_to root_path do
                = icon('fas','frown',class: 'bad-icon')
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to '#',class: 'ladys' do
              =@main_category.name
            %br
            %i.fas.fa-chevron-right
            = link_to'#',class: 'bag' do
              =@sub_category.name
            %br
            %i.fas.fa-chevron-right
            = link_to'#',class: 'shoulder-bag' do
              =@sub_sub_category.name
        %tr
          %th ブランド
          %td
            = link_to'',class: 'brand-link'
            = @brand
        %tr
          %th 商品のサイズ
          %td=@size.value
        %tr
          %th 商品の状態
          %td=@condition.value
        %tr
          %th 配送料の負担
          %td=@delivery_charge.value
        %tr
          %th 配送の方法
          %td=@delivery_method.value 
        %tr
          %th 発送元地域
          %td=@prefecture.name
        %tr
          %th 発送日の目安
          %td=@delivery_days.value
    .item-price-box
      %span.price= converting_to_jpy(@item.price)
      %span.tax (税込)
      %span.shipping-free
      - if @item.delivery_charge_id == 1
        送料込み
      - else
        着払い
      - if user_signed_in?
        - if (@item.buyer_id.blank?)
          .item-buy-btn 
            =link_to '購入画面に進む', item_confirmation_path(@item), class:'buy-btn'
        - else
          .item-sold-btn
            売り切れました
      - else
        - if (@item.buyer_id.blank?)
          .item-buy-btn 
            =link_to '購入画面に進む', new_user_session_path, class: 'buy-btn'
        - else
          .item-sold-btn
            売り切れました
      .item-description
        .item-description__inner
          = @item.comment
      .item-button-contener.clearfix
        .item-button-contener__left
          .item-like
            = render partial:'likes/likes', locals: {item:@item, like:@like}
          .item-report
            = link_to root_path do
              = icon('far','flag',class: 'flag-icon')
            %span.fade-in-down 不敵切な商品の報告
          .item-button-contener__right
            = link_to root_path do
              = icon('fas','lock',class: 'lock-icon')
            %span
            = link_to'あんしん・あんぜんへの取り組み','',class: 'link-btn'
  .message-container
    .message-content
      %ul.message-items
        %li.clearfix
          .message-user
            .user-unknown
              = image_tag('user-icon.svg',class: 'icon',size:'32x32')
            .message-user-name ゆっぴ
          .message-body
            .text
              %p コメント失礼します！
              %p 値下げは可能でしょうか？  
            .message-body__icons.clearfix
              .icon-left
                = link_to root_path do
                  = icon('far','clock',class: 'time-icon')
                  %span １時間
              .icon-right
                = link_to root_path do
                  = icon('far','flag',class: 'flag-icon')
    .message-content 
      %ul.message-items
        %li.clearfix
          .message-user
            .user-unknown
              = image_tag('user-icon2.png',class: 'icon2',size:'40x40')
            .message-is-seller 出品者
            .message-user-name poou
          .message-body
            .text
              %p コメントありがとうございます！
              %p 値下げは出来ません。
            .message-body__icons.clearfix
              .icon-left
                = link_to root_path do
                  = icon('far','clock',class: 'time-icon')
                  %span １時間
              .icon-right
                = link_to root_path do
                  =icon('far','flag',class: 'flag-icon')
    .message-content    
      %form   
        %p 相手のことを考え丁寧なコメントを心がけましよう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.textarea-default
        %button{ type: 'submit',class: 'search-btn' }コメントする
    %ul.nav-item-link.clearfix
      %li.prev
        %i.fas.fa-chevron-left
        = link_to'TP−Link WiFi 無線LANカード','',class: 'link-btn'
      %li.next
        = link_to'アメリカの人気のお菓子！','',class: 'link-btn'
        %i.fas.fa-chevron-right
    .item-social-media-box
      .text-center
        %ul.social-media
          %li
            = link_to root_path do
              = icon('fab','facebook-square',class: 'facebook-icon')
          %li
            = link_to root_path do
              = icon('fab','twitter-square',class: 'twitter-icon')
          %li
            = link_to root_path do
              = icon('fab','pinterest-square',class: 'pinterest-icon')     
  .items-in-user-profile 
    .items-box-heard
      = link_to "#{@seller.nickname}さんのその他の出品",'',class:'link-buyer'
    .items-contents
      - @seller_items.each do |item|
        .items-contents__box
          = link_to item_path(item),class:'item'do
            - if (item.buyer_id.blank?)
              .item-img
                = image_tag "#{item.images.first.url}",size: '230x230'
              .item-box-body
                %h2.item-name=item.name
                .item-box-body__num
                  .price= converting_to_jpy(item.price)
                  .like
                    = link_to root_path do
                      =icon('far','heart',class: 'heart-icon')
                      %span=item.likes.count
            -else
              .item-img  
                = image_tag "#{item.images.first.url}",size: '230x230'
                .item-img__top
                .tag SOLD
              .item-box-body
                %h2.item-name=item.name
                .item-box-body__num
                  .price= converting_to_jpy(item.price)
                  .like
                    = link_to root_path do
                      =icon('far','heart',class: 'heart-icon')
                      %span=item.likes.count
  .items-in-user-profile 
    .items-box-heard
      = link_to "#{@sub_sub_category.name} (#{@main_category.name}) その他の商品",'',class:'link-brand'
    .items-contents
      - @sub_sub_category_items.each do |item|
        .items-contents__box
          = link_to item_path(item.id),class:'item'do
            - if (item.buyer_id.blank?)
              .item-img
                = image_tag "#{item.images.first.url}",size: '230x230'
              .item-box-body
                %h2.item-name=item.name
                .item-box-body__num
                  .price= converting_to_jpy(item.price)
                  .like
                    = link_to root_path do
                      =icon('far','heart',class: 'heart-icon')
                      %span=item.likes.count
            -else
              .item-img  
                = image_tag "#{item.images.first.url}",size: '230x230'
                .item-img__top
                .tag SOLD
              .item-box-body
                %h2.item-name=item.name
                .item-box-body__num
                  .price= converting_to_jpy(item.price)
                  .like
                    = link_to root_path do
                      =icon('far','heart',class: 'heart-icon')
                      %span=item.likes.count
  .item-contents-bottom
- breadcrumb :item, @item
= render "layouts/breadcrumbs"
= render "items/toppage/bottom-banner-ad"
= render "items/toppage/footer"