.side__list
  .mypage__list
    %ul
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          マイページ
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          お知らせ
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          やることリスト
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          いいね！一覧
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          出品する
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          出品した商品 - 出品中
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          出品した商品 - 取引中
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          出品した商品 - 売却済み
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          購入した商品 - 取引中
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          購入した商品 - 過去の取引
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          ニュース一覧
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          評価一覧
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          ガイド
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          お問い合わせ
          = icon 'fas', 'chevron-right'

  .merpay
    %h3.side__h3 
      メルペイ
    %ul.merpay-setting
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          売上・振込申請
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          ポイント
          = icon 'fas', 'chevron-right'
  .setting
    %h3.side__h3 
      設定
    %ul.merpay-setting
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          プロフィール
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          発送元・お届け先住所変更
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          支払い方法
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          メール/パスワード
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          本人情報
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          電話番号の確認
          = icon 'fas', 'chevron-right'
      = link_to "#", class: 'list__item' do
        %li.mypage-list
          ログアウト
          = icon 'fas', 'chevron-right'    
        